// main: style.scss

.counters {
  @include flex-default-center(space-between, center);
  padding: 70px calc(50% - 460px) 60px;
  background-color: #f4f5f8;
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
  &__item {
    position: relative;
    @include flex-default-center(center, center, column);
    padding: 0 0 30px 0;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 30px;
      background: #fff;
    }
  }
  &__item-icon {
    margin: 0 0 30px 0;
    fill: #c7b299;
    display: block;
  }
  &__item-num {
    font-family: 'montserrat-extralight';
    font-size: 48px;
    line-height: 36px;
    margin: 0 0 20px 0;
  }
  &__item-title {
    display: block;
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #c7b299;
  }
  @media (max-width: 767.98px) {
    flex-wrap: wrap;
    justify-content: center;
    &__item {
      margin: 0 10px 50px;
      width: 100%;
      &:last-child {
        margin: 0;
      }
    }
  }
}
