// main: style.scss

.header {
  @include box-sizing();
  @include flex-default-center();
  width: 100%;
  z-index: 100;
  &_fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    background: rgba(#000000, 0.8)
  }
  &__actions {
    @include flex-default-center();
  }
  @media (max-width: 1499.98px) {
    justify-content: space-between;
    &__nav {
      margin: 0 10px 0 0;
    }
  }
    @media (max-width: 992.98px) {
      &__nav {
        margin: 0;
      }
    }
}
