// main: style.scss
.ideas {
  background: #fbfaf8;
  text-align: center;
  padding: 83px calc(50% - (#{$container-full-width} / 2 + #{$container-padding})) 0;
  &__title {
    margin: 0 0 24px 0;
  }
  &__par {
    line-height: 28px;
    color: #8c8c8c;
    margin: 0 auto 40px auto;
    max-width: 770px;
  }
  &__img-wrp {
    min-height: 482px;
    background: url(../img/ideas_02.jpg) no-repeat bottom center/770px 482px,
                url(../img/ideas_01.jpg) no-repeat bottom left/770px 400px,
                url(../img/ideas_03.jpg) no-repeat bottom right/770px 400px;
  }
  @media (max-width: 1099.98px) {
    &__img-wrp {
      background-size: auto 332px, auto 250px, auto 250px;
    }
  }
  @media (max-width: 767.98px) {
    &__img-wrp {
      display: none;
    }
  }
}
