// main: style.scss

.change-count {
  @include flex-default-center();
  &__item {
    font-size: 18px;
    line-height: 23px;
    padding: 6px 9px;
    border: 1px solid #DDD9D9;
    &_minus {
      cursor: pointer;
    }
    &_count {

    }
    &_plus {
      cursor: pointer;
    }
  }
}
