// main: style.scss

  .partners {
    padding: 181px calc(50% - 560px);
    @include flex-default-center(space-between, center);
    flex-wrap: wrap;
    background: #ccc url(../img/partners_bg.jpg) no-repeat center/cover;
    &__link {
      @include transition((filter));
      &:hover {
        filter: brightness(70%);
      }
    }
    &__img {
      padding: 15px;
      @include box-sizing();
    }
    @media (max-width: 1199.98px) {
      padding-top: 50px;
      padding-bottom: 50px;
      &__link {
        width: 50%;
        @include flex-default-center();
      }
      &__img {
      }
    }
    @media (max-width: 575.98px) {
      &__link {
        width: 100%;
        margin: 0 0 30px 0;
        &:last-child {
          margin: 0; 
        }
      }
    }
  }
