// main: style.scss

.scroll-up-btn {
  position: fixed;
  opacity: 0;
  bottom: 100px;
  right: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
  @include flex-default-center();
  @include transition((background-color, opacity));
  &:hover {
    background: lighten($primary-color, 10%);
  }
  &_show {
    opacity: 1;
  }
  &__img {
    width: 40px;
  }
}
